@tailwind components;

@layer components {
  .home-benefits-section {
    @apply flex flex-col items-center w-full min-h-[867px] pt-[80px] text-center mx-auto bg-gradient-background bg-no-repeat bg-center bg-cover md:mt-[100px];
  }
  
  .circle-medium {
    @apply w-[4px] h-[4px] bg-white rounded-[8px];
  }

  .vertical-line {
    @apply w-[2px] h-[100px] bg-[#0088D3];
  }

  .horizontal-line {
    @apply w-[329px] h-[3px] bg-[#0088D3] hidden lg:block;
  }
}

.triangle-section {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  margin-top: 30px;
}

.triangle {
  width: 60px;
  height: 30px;
  border-top: solid 50px rgb(200,30,50);
  border-left: solid 50px transparent;
  border-right: solid 50px transparent
}
