@tailwind components;

@layer components {
  .home-benefits-section {
    @apply flex flex-col items-center w-full min-h-[867px] pt-[80px] text-center mx-auto bg-gradient-background bg-no-repeat bg-center bg-cover md:mt-[100px];
  }
  
  /* .circle-medium-1 {
    @apply w-[4px] h-[4px] bg-white rounded-[8px];
  }

  .circle-medium-2 {
    @apply w-[4px] h-[4px] bg-white rounded-[8px];
  }

  .circle-medium-3 {
    @apply w-[4px] h-[4px] bg-white rounded-[8px];
  } */

  .vertical-line {
    @apply w-[2px] h-[100px] bg-[#0088D3];
  }

  .horizontal-line {
    @apply w-[329px] h-[3px] bg-[#0088D3] hidden lg:block;
  }
}

.triangle-section {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  margin-top: 30px;
}

.triangle {
  width: 60px;
  height: 30px;
  border-top: solid 50px rgb(200,30,50);
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
  animation: triangleMove 3s ease-out infinite;
}

@keyframes triangleMove {
  0%{
transform: translatey(0px)
  }
  
  50%{transform: translatey(-20px)
  }
  
  100%{transform: translatey(0px)
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.circle-medium {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-medium:nth-child(1) {
  animation-name: pulse;
  animation-delay: 0.2s;
}

.circle-medium:nth-child(2) {
  animation-name: pulse;
  animation-delay: 0.4s;
}

.circle-medium:nth-child(3) {
  animation-name: pulse;
  animation-delay: 0.6s;
}
